body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f9fcff;
  color: #333;
}

.header {
  background: url(../assets/banner.jpg) no-repeat center center/cover;
  height: 420px;
  display: flex;
  justify-content: end;
  color: white;
  text-align: center;
}

.navbar {
  background: #0077aa;
  padding: 15px 0;
  text-align: center;
  margin: 2px;
}

.nav-links {
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.nav-links a {
  margin: 0 15px;
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: color 0.3s;
  font-size: large;
}

.nav-links a:hover,
.nav-links a.active {
  color: yellow;
}

.section {
  padding: 50px 20px;
  display: flex;
  justify-content: center;
}

.content {
  display: flex;
  gap: 30px;
  align-items: center;
  max-width: 1000px;
}

.content .text {
  font-size: x-large;
  flex: 1;
}

.content h2 {
  font-size: xx-large;
  color: #0077aa;
  margin-bottom: 15px;
}

.image {
  flex: 1;
  max-width: 350px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.btn {
  display: inline-block;
  margin-top: 15px;
  padding: 10px 18px;
  background: #00aaff;
  color: white;
  text-decoration: none;
  border-radius: 6px;
  font-weight: bold;
  transition: background 0.3s;
}

.btn:hover {
  background: #0077aa;
}

.highlights {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 40px 20px;
  background: #eefaff;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 12px;
  width: 450px;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  font-size: x-large;
}

.card h3 {
  margin-bottom: 10px;
  color: #00aaff;
}

.card:hover {
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
}

.footer {
  background: #00aaff;
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: 250px;
  font-size: x-large;
}